.header
  .header__group
    = link_to "#",class: "header__group--new" do
      部屋作成
  .header__title
  .header__devise
    = link_to "#",class: "header__devise--login" do
      ログイン
    = link_to "#",class: "header__devise--new" do
      新規作成
.main
  .main__side--left
  .main__groups
    = link_to "#",class: "main__groups--group" do
      .group-name
        テスト部屋
      .player-name
        .player-name__kou
          satorin
        .player_name__vs
          対
        .player-name__otu
          さとりん
  .main__side--right