= form_with url: groups_path, local: true do |f|
  .create-group__name
    = f.text_field :name, class: "SettingGroupForm__input", placeholder: "グループ名を入力してください"
  .create-group__player--otu
    = f.collection_radio_buttons :hoge, User.all, :id, :nickname
  .create-group__btn
    = f.submit "部屋作成", class: "SettingGroupForm__button"