.main-create
  .create-group
    = form_with url: groups_path, local: true do |f|
      .create-group__name
        = f.text_field :name, class: "SettingGroupForm__input", placeholder: "グループ名"
      .create-group__player--otu
        対戦相手を選択して下さい。<br>
        = f.collection_radio_buttons :otu_user, User.all, :id, :nickname
      .create-group__btn
        = f.submit "部屋作成", class: "SettingGroupForm__button"