.game-header
  .game-header__left
    = form_with url: group_games_path(params[:group_id]), local: true do |f|
      - if @game == nil
        .create-game__btn
          = f.submit "ゲーム開始", class: "start-game"
      - else
        .start-game
          ゲーム中

  .game-header__right
.game
  .game-side
  .game-main
    .game-main__enemy
      .game-main__enemy--hand-card#card
        0
      .game-main__enemy--hand-card#card
        0
    .game-main__center
      .game-main__center--deck
        17枚
      .game-main__center--field-card
        8
      .game-main__center--turn
        Your Turn
    .game-main__player
      .game-main__player--message
        .message
          ここに現在の状況等を出力する
      .game-main__player--hands
        .game-main__player--hand-card#card
          9
        .game-main__player--hand-card#card
          4