@mixin center() {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#card{
  height: 120px;
  width: 80px;
  border: solid 1px black;
  border-radius: 10px;
  background-color: cornsilk;
  font-size: 50px;
  @include center();
  margin: 0 20px;
}

.start-game,.delete-game,.delete-group{
  display: block;
  width: 100%;
  height: 35px;
  background-color: lightblue;
  border: solid 1px white;
  @include center();
  text-decoration: none;
  color: black;
}

.delete-game{
  font-size: 16px;
  width: 80px;
}

.delete-group{
  background-color: lightpink;
}

.winner-message{
  font-size: 40px;
  @include center();
}

.game-header{
  width: 100vw;
  height: 100px;
  @include center();
  &__left{
    width: 20%;
    height: 100%;
    background-color: #BBBBBB;
    border: ridge 5px lightgray;
    box-sizing: border-box;
    @include center();
  }
  &__right{
    width: 80%;
    height: 100%;
    background-color: #ddffdd;
    @include center();
    .kou__discard{
        border: solid 1px black;
        margin: 2px;
        background-color: white;
    }
    .otu__discard{
      border: solid 1px black;
      margin: 2px;
      background-color: white;
  }
  }
}
.game{
  @include center()
}
.game-side{
  width: 20vw;
  height: calc(100vh - 100px);
  background-color: lightgreen;
  border: ridge 5px lightgreen;
  padding: 5px;
  box-sizing: border-box;
}
.game-main{
  width: 80vw;
  height: calc(100vh - 100px);
  border: groove 3px gray;
  box-sizing: border-box;
  &__enemy{
    width: 100%;
    height: 30%;
    background-color: #FFE9E9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__center{
    width: 100%;
    height: 20%;
    background-color: wheat;
    border-top: groove 3px gray;
    border-bottom: groove 3px gray;
    box-sizing: border-box;
    @include center();
    &--field-card{
      font-size: 80px;
      width: 80px;
      height: 80px;
      border: solid 1px black;
      border-radius: 30px;
      background-color: lightgray;
      @include center();
    }
    &--turn{
      .your{
        padding: 3px;
        border: solid 1px black;
        background-color: #E9E9FF;
      }
      .enemy{
        padding: 3px;
        border: solid 1px black;
        background-color: #FFE9E9
      }
    }
  }
  &__player{
    width: 100%;
    height: 50%;
    background-color: #E9E9FF;
    &--message{
      width: 100%;
      height: 35%;
      @include center();
      .message{
        @include center();
        background-color: wheat;
        padding: 8px;
        border: solid 3px black;
      }
    }
    &--hands{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
  