@mixin center() {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header{
  width: 100vw;
  height: 100px;
  border-top: solid 15px lightgreen;
  border-bottom: solid 3px black;
  background-color: #ddfbdd;
  box-sizing: border-box;

  display: flex;
  &__group{
    width: 20%;
    height: 100%;
    background-color: #ddfbdd;
    @include center();
    &--new{
      display: block;
      width: 40%;
      height: 35px;
      background-color: lightblue;
      border: solid 1px blue;
      @include center();
      text-decoration: none;
      color: black;
    }
  }
  &__title{
    width: 60%;
    height: 100%;
    @include center();
    font-size: 50px;
  }
  &__devise{
    width: 20%;
    height: 100%;
    background-color: #ddfbdd;
    @include center();
    &--new,&--login{
      display: block;
      width: 60%;
      height: 35px;
      background-color: lightblue;
      border: solid 1px blue;
      @include center();
      text-decoration: none;
      color: black;
    }
  }
}

.main{
  height: calc(100vh - 100px);
  display: flex;
  &__side--left,&__side--right{
    height: 100%;
    width: 20%;
    background-color: #fcf3e6;
  }
  &__groups{
    height: 100%;
    width: 60%;
    background-color: #e8fff7;
    overflow: scroll;
    border-left: groove 3px gray;
    border-right: groove 3px gray;
    box-sizing: border-box;
    &--group{
      display: block;
      text-decoration: none;
      color: black;
      height: 100px;
      width: auto;
      margin: 25px;
      border: solid 1px black;
      background-color: #EEEEEE;
      .group-name{
        font-size: 35px;
        margin: 10px 0 0 10px;
      }
      .player-name{
        height: 30px;
        @include center();
        &__kou,&__otu{
          background-color: lightyellow;
          border: ridge 3px lightyellow;
          padding: 3px;
        }
      }
    }
  }
}

.main-create{
  width: 100vw;
  height: 100vh;
  background-color: #fffcef;
  @include center();
  .create-group{
    @include center();
    width: 40%;
    height: 40%;
    border-radius: 30px;
    justify-content: center;
    border: solid 5px lightblue;
    background-color: #eff7ff;
  }
}